.global-msg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 10px;
    left: 0;
    display: flex;
    z-index: 9999;
    justify-content: center;

    div {
        display: flex;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        background: #fff;
        border-radius: 5px;
        box-shadow: 2px 2px 15px 5px #7a7a7a3b;
        position: absolute;
        height: 88px;

        img {
            height: 28px;
            width: 28px;
            margin-right: 12px;
        }

        p {
            font-size: 20px;
            color: #3b3b3b;
            line-height: 20px;
        }
    }
}